<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>zethrae.us.alfred.utils.paste</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1B6BE66B-9E51-4C7F-A9C8-7EC9A9D9D3DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B2DCD257-ACF6-4089-9E31-D4E89B540E95</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4ADFDABB-955B-44E9-8E79-D20DCA078757</key>
		<array/>
		<key>50A92E20-CBF5-4527-8369-BC74F40C75C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BE971434-2689-43CB-BDA8-31419A3A4599</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5D1BBA88-AC16-42C9-9117-42702E171466</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50A92E20-CBF5-4527-8369-BC74F40C75C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B11A49F9-DD28-491B-92BA-78A820E571EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D700CD2E-CE92-484A-B146-2179AD9B3F34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B2DCD257-ACF6-4089-9E31-D4E89B540E95</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B3804B6B-3D08-4CF4-96D4-D1A4275B7A4D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>6750DF81-80E5-43F2-A4E4-53239762130A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C427DB84-A9A9-408B-A302-E7864041D782</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B3804B6B-3D08-4CF4-96D4-D1A4275B7A4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5D1BBA88-AC16-42C9-9117-42702E171466</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C427DB84-A9A9-408B-A302-E7864041D782</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BE971434-2689-43CB-BDA8-31419A3A4599</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EA00B261-6265-401D-AA4E-BE842432045A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4ADFDABB-955B-44E9-8E79-D20DCA078757</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EF061E08-8E3A-45DA-9070-14CD4784C00F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FBF6F0BE-E473-4A81-BB80-E7CCB1429FE3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FBF6F0BE-E473-4A81-BB80-E7CCB1429FE3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B11A49F9-DD28-491B-92BA-78A820E571EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Adam Zethraeus</string>
	<key>description</key>
	<string>Useful paste/clipboard actions</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Paste Utils</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./pngpaste ~/Desktop/clipboard_$datetime.png</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4ADFDABB-955B-44E9-8E79-D20DCA078757</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>paste png</string>
				<key>subtext</key>
				<string>arg: optional Int index to image data in clipboard.</string>
				<key>text</key>
				<string>Paste a clipboard entry as .png file to desktop</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EA00B261-6265-401D-AA4E-BE842432045A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>paste txt</string>
				<key>subtext</key>
				<string>arg: optional Int index in clipboard</string>
				<key>text</key>
				<string>Paste a clipboard entry as .txt files to desktop</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EF061E08-8E3A-45DA-9070-14CD4784C00F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<false/>
				<key>filename</key>
				<string>~/Desktop/clipboard_{var:datetime}.txt</string>
				<key>filetext</key>
				<string>{clipboard:{var:clipnum}}</string>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>D700CD2E-CE92-484A-B146-2179AD9B3F34</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>clipnum</key>
					<string>{query}</string>
					<key>datetime</key>
					<string>{date:yyyy-MM-dd_HH-mm-ss}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B11A49F9-DD28-491B-92BA-78A820E571EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>''</string>
				<key>replacestring</key>
				<string>0</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>FBF6F0BE-E473-4A81-BB80-E7CCB1429FE3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>paste type</string>
				<key>subtext</key>
				<string>arg: optional Int index in clipboard</string>
				<key>text</key>
				<string>Type a clipboard entry into the active window</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1B6BE66B-9E51-4C7F-A9C8-7EC9A9D9D3DB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>clipnum</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B3804B6B-3D08-4CF4-96D4-D1A4275B7A4D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:pasteval}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>50A92E20-CBF5-4527-8369-BC74F40C75C5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>pasteval</key>
					<string>{clipboard:{var:clipnum}}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5D1BBA88-AC16-42C9-9117-42702E171466</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>on run argv
  tell application "System Events"
    keystroke (item 1 of argv)
  end tell
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BE971434-2689-43CB-BDA8-31419A3A4599</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^(\d+)$</string>
						<key>outputlabel</key>
						<string>argnum</string>
						<key>uid</key>
						<string>6750DF81-80E5-43F2-A4E4-53239762130A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>pbpaste</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>B2DCD257-ACF6-4089-9E31-D4E89B540E95</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>pbpaste</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C427DB84-A9A9-408B-A302-E7864041D782</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>paste png — paste top of clipboard as png to desktop

paste txt {x: Int = 0} - paste clipboard entry x as .txt file to desktop.

paste type {x: Int = 0} - simulate typing clipboard entry x into the active window.

(Paste Icon by https://www.flaticon.com/authors/smashicons)</string>
	<key>uidata</key>
	<dict>
		<key>1B6BE66B-9E51-4C7F-A9C8-7EC9A9D9D3DB</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>4ADFDABB-955B-44E9-8E79-D20DCA078757</key>
		<dict>
			<key>note</key>
			<string>paste image</string>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>50A92E20-CBF5-4527-8369-BC74F40C75C5</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>5D1BBA88-AC16-42C9-9117-42702E171466</key>
		<dict>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>B11A49F9-DD28-491B-92BA-78A820E571EE</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>B2DCD257-ACF6-4089-9E31-D4E89B540E95</key>
		<dict>
			<key>xpos</key>
			<integer>455</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>B3804B6B-3D08-4CF4-96D4-D1A4275B7A4D</key>
		<dict>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>BE971434-2689-43CB-BDA8-31419A3A4599</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Type out input query.</string>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>505</integer>
		</dict>
		<key>C427DB84-A9A9-408B-A302-E7864041D782</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>pbpaste top clipboard entry.
(will paste items concealed from Alfred)</string>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>D700CD2E-CE92-484A-B146-2179AD9B3F34</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Write clipboard entry to .txt file on desktop</string>
			<key>xpos</key>
			<integer>605</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>EA00B261-6265-401D-AA4E-BE842432045A</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>115</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>EF061E08-8E3A-45DA-9070-14CD4784C00F</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>115</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>FBF6F0BE-E473-4A81-BB80-E7CCB1429FE3</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/adam-zethraeus/alfred_paste_utils</string>
</dict>
</plist>
